footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-width: 100vw;
  left: 0;
  bottom: 0;
  height: 209px;
  background: black;
  position: fixed;
  z-index: 10;
  margin: 0;
  padding: 0;

  .footerLogo {
    color: white;
    fill: white;
  }

  p {
    font-family: "MontSerrat";
    font-size: 12px;
    color: white;
  }
}

body {
  min-height: 100vh;
  padding-bottom: 209px; 
}
