.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-top: 32px;
}

@media (min-width: 1024px) {
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 60px;
    background: #f6f6f6;
    border-radius: 20px;
    padding: 50px 40px;
    margin: 40px auto 0 auto;
    max-width: 1240px;
    width: 100%;
    box-sizing: border-box;
  }
}
